[worldserver]

########################################
# 系统 VIP 配置
########################################
#
#    SystemVip.Announce
#        描述: 登录时启用模块消息。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Announce = 0

########################################
#
#    SystemVip.TimeVip
#        描述: 每次订阅添加的 VIP 天数。
#        默认:     7
#

SystemVip.TimeVip = 7

########################################
#
#    SystemVip.Token
#        描述: 购买 VIP 订阅所需的代币 ID。
#        默认:    29736
#

SystemVip.Token = 29736

########################################
#
#    SystemVip.TokenAmount
#        描述: 所需代币数量。
#        默认:     10
#

SystemVip.TokenAmount = 10

########################################
#
#    SystemVip.TokenIcon
#        描述: 代币图标。
#        默认:     "|TInterface/ICONS/inv_misc_rune_05:15:15:-15:0|t"
#

SystemVip.TokenIcon = "|TInterface/ICONS/inv_misc_rune_05:15:15:-15:0|t"

########################################
# 系统 VIP 特权配置
########################################
#
#    SystemVip.LoginAnnounce
#        描述: 为 VIP 用户启用特殊登录欢迎公告。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.LoginAnnounce = 0

########################################
#
#    SystemVip.LoginAnnounceMessage
#        描述: 登录欢迎公告中显示的消息。%s 会被替换为玩家名称。
#        默认:     "Player Vip: %s se ha conectado."
#

SystemVip.LoginAnnounceMessage = "Player Vip: %s se ha conectado."

########################################
#
#    SystemVip.EnableRateCustom
#        描述: 为 VIP 用户启用自定义倍率。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.EnableRateCustom = 0

########################################
#
#    SystemVip.RateXP
#        描述: 设置 VIP 用户的经验倍率。设为 1 表示正常倍率。
#        默认:     1
#

SystemVip.RateXP = 1

########################################
#
#    SystemVip.ProfessionRate
#        描述: 设置 VIP 用户的专业技能倍率。设为 1 表示正常倍率。
#        默认:     1
#

SystemVip.ProfessionRate = 1

########################################
#
#    SystemVip.GoldRate
#        描述: 设置 VIP 用户的金币掉落倍率。设为 1 表示正常倍率。
#        默认:     1
#

SystemVip.GoldRate = 1

########################################
#
#    SystemVip.HonorRate
#        描述: 设置 VIP 用户的荣誉获取倍率。设为 1 表示正常倍率。
#        默认:     1
#

SystemVip.HonorRate = 1

########################################
#
#    SystemVip.GhostMount
#        描述: 当 VIP 玩家死亡变成幽灵时，为其提供一匹坐骑。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.GhostMount = 0

########################################
# 系统 VIP 宠物配置
########################################
#
#    SystemVip.Pet
#        描述: 为 VIP 用户启用宠物。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Pet = 0

########################################
#
#    SystemVip.VipZone
#        描述: 启用一个通往 VIP 专区的传送。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.VipZone = 0

########################################
#
#    SystemVip.VipZoneCoord
#        描述: VIP 专区的坐标。
#        默认:     "mapId;position_x;position_y;position_z;orientation"
#

SystemVip.VipZoneMapId = 571
SystemVip.VipZoneCoorX = 5804.15
SystemVip.VipZoneCoorY = 624.771
SystemVip.VipZoneCoorZ = 647.767
SystemVip.VipZoneOrien = 1.64

########################################
#
#    SystemVip.ArmorRep
#        描述: 为 VIP 用户启用免费修理装备的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.ArmorRep = 0

########################################
#
#    SystemVip.Bank
#        描述: 启用打开银行的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Bank = 0

########################################
#
#    SystemVip.Mail
#        描述: 启用打开邮箱的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Mail = 0

########################################
#
#    SystemVip.Buffs
#        描述: 启用施加增益效果的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Buffs = 0

########################################
#
#    SystemVip.BuffIds
#        描述: 要施加的增益效果 ID，用英文逗号分隔，不要有空格。
#        默认:     "12312,123123,123123"
#

SystemVip.BuffIds = "25898,48469,42995,48169,48073,48161,53307,23735,23736,23737,23738,23766,23767,23768,23769"

########################################
#
#    SystemVip.Refresh
#        描述: 启用恢复生命值和法力值的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Refresh = 0

########################################
#
#    SystemVip.Sickness
#        描述: 启用消除疾病/虚弱状态的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Sickness = 0

########################################
#
#    SystemVip.Deserter
#        描述: 启用移除逃兵 debuff 的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.Deserter = 0

########################################
#
#    SystemVip.ResetInstance
#        描述: 启用重置地下城和团队副本进度的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.ResetInstance = 0

########################################
#
#    SystemVip.SaveTeleport
#        描述: 启用保存位置用于传送的选项。
#        默认:     0 - 禁用
#                     1 - 启用
#

SystemVip.SaveTeleport = 0

########################################
#
#    SystemVip.SaveTeleportAmount
#        描述: 允许保存的最大位置数量。
#        默认:     5
#

SystemVip.SaveTeleportAmount = 5
